@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Outfit', sans-serif;

  /* Brand Core */
  --color-spekty-dark: #14204b;
  --color-spekty-blue: #3b82f6;

  /* Presentation Palette */
  --color-spekty-brand-blue: #019EF7;
  --color-spekty-royal-blue: #0F56E3;
  --color-spekty-navy: #062259;
  --color-spekty-green: #A9D18E;
  --color-spekty-orange: #E46138;
  --color-spekty-yellow: #FDCE6F;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: #1f2937;
    /* text-gray-800 */
    background-color: white;
    margin: 0;
    min-height: 100vh;
  }
}